APP_BIND=127.0.0.1
APP_PORT=8001
MAX_STRUCTURE_BYTES=2097152
MAX_FETCH_REDIRECTS=3
FETCH_TIMEOUT_SECONDS=10
MAX_SOURCE_URL_LENGTH=2048
MAX_TITLE_LENGTH=160
MAX_REQUEST_BODY_BYTES=8192
MAX_STRUCTURE_LINES=200000
MAX_ATOMS=50000
MAX_MODELS=200
MAX_CUBE_GRID_POINTS=2000000
REGISTER_RATE_LIMIT_PER_HOUR=60
FETCH_RATE_LIMIT_PER_MINUTE=120
OG_RATE_LIMIT_PER_MINUTE=120
MAX_RATE_LIMIT_IDENTITIES=10000
TRUSTED_PROXY_CIDRS=172.16.0.0/12
MOLX_ALLOWED_ORIGINS=
